<h1>Listing all articles</h1>

<%= link_to 'Create new article', new_article_path%>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <% @articles.each do |a|%>
    <tr>
        <td><%=a.title%></td>
        <td><%=a.description%></td>
        <td><%= link_to "edit", edit_article_path(a)%></td>
        <td><%=link_to "Delete", article_path(a), method: :delete, data: {confirm: 'Are u sure?'}%></td>
    </tr>
    <%end%>
</table>